/Nahuel Francia/Java/New Folder/Aritmetica/nbproject/private/
/Nahuel Francia/Java/New Folder/CiclosEj07/nbproject/private/
/Nahuel Francia/Java/New Folder/CiclosEj07/build/
/Tecnicatura/Java/Leccion9/Matrices/nbproject/private/
/Tecnicatura/Java/Leccion10/Matrices/nbproject/private/
/Tecnicatura/Java/Leccion10/Matrices/build/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_3/nbproject/private/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_3/build/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_4/nbproject/private/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_4/build/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_5/nbproject/private/
/Tecnicatura/Java/Leccion9/matriz_ejercicio_5/build/
/Tecnicatura/Java/Leccion11/Ventas/nbproject/private/
/Tecnicatura/Java/Leccion11/Ventas/build/
